@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url(./buttons.css);
@import url(./home.css);
@import url(./personagens.css);
@import url(./cartas.css);
@import url(./anime.css);
@import url(./especiais.css);
@import url(./assista.css);
@import url(./footer.css);

:root{
    --primaria:rgb(27, 112, 78) ;
    --branco: whitesmoke;
    --btn-normal: rgba(189, 255, 219, 0.2);
    --btn-normal-hover: rgba(189, 255, 219, 0.5);
    --btn-destaque: whitesmoke;
    --btn-destaque-hover: lightgrey;
    --azul: rgba(39, 116, 198, 0.931);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    border-style: none;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    scroll-behavior: smooth;
}


nav{
    height: 100px;
    width: 100%;
    background: linear-gradient(var(--azul), transparent);
    z-index: 1000;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
}

ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav a{
    color: var(--branco);
}
.nav-link{
    transition: .2s;
    font-size: 15px;
    font-weight: thin;
}

.ch-icon{
    transition: .2s;
    width:75px;
    height:60px;
}

.ch-icon:hover{
    width:65px;
    height:50px;
}


.div-indication{
    writing-mode: vertical-lr;
    white-space: nowrap;
    font-weight: bold;
    color: var(--branco);
    font-size: small;
    letter-spacing: 0.3em;
    padding-left: 27px;
    margin-top: 10%;
}
